// ***************************************************************
// *** 1. Box-sizing
// ***************************************************************
*,
*:after,
*:before {
    box-sizing: border-box;
}

// ***************************************************************
// *** 2. Base typography
// ***************************************************************
body {
    @include gradient(rgba(#000,.6),rgba(#000,0));
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $base-font-color;
    min-height: 100vh;
    z-index: 10;
    position: relative;
}

html {
    z-index: 5;
}

html:before {
    @include cover();
    content: '';
    filter: grayscale(70%);
    background: url('https://hd.unsplash.com/photo-1429962714451-bb934ecdc4ec') center no-repeat;
    background-size: cover;
}

strong,
b {
    font-weight: bold;
}

.overflow-hidden {
	overflow: hidden;
}

header {
    padding: 40px 0 0 0;
}
