// ***************************************************************
// *** 1. Box-sizing
// ***************************************************************
*,
*:after,
*:before {
    box-sizing: border-box;
}

// ***************************************************************
// *** 2. Base typography
// ***************************************************************
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $base-font-color;
}

// ***************************************************************
// *** 3. Base background definitions
// ***************************************************************
html {
    z-index: 5;
    height: 100vh;

    &:before {
        @include cover();
        filter: grayscale(70%) blur(5px);
        background: url('https://hd.unsplash.com/photo-1429962714451-bb934ecdc4ec') center no-repeat;
        background-size: cover;
        content: '';
    }

    &:after {
        @include cover();
        background: url('../images/bg.svg') center;
        background-size: cover;
        content: '';
    }

    body {
        height: 100vh;
        z-index: 10;
        position: relative;
    }
}

strong,
b {
    font-weight: bold;
}

.overflow-hidden {
	overflow: hidden;
}
