
section.view:not(:target) {
    height: 0;
    opacity: 0;
}

section.view {
    transition: visibility 0s, opacity 100ms linear;
    opacity: 0;
    backdrop-filter: blur(5px);

    div.item {
        @include material-shadow;
        @include material-radius;
        background: rgba(#fff,.98);
        box-shadow: 0 0 3px rgba(#000,.1);
        padding-bottom: 60px;
        margin-bottom: 20px;
    }

    h1 {
        text-transform: uppercase;
        font-weight: 300;
    }
}

section.view:target {
    opacity: 1;
}

.no-lineheight {
    font-size: 0;
}
