nav {
    ul {
        overflow: hidden;
        li {
            width: 20%;
            display: block;
            float: left;
            line-height: 1.3;

            a {
                cursor: pointer;
                text-align: center;
                display: block;
                text-transform: uppercase;
                color: #fff;

                i {
                    transition: 300ms;
                    display: block;
                    clear: both;
                    font-size: 2em;
                }

                &:hover {
                    text-decoration: none;

                    i {
                        color: #ff0064;
                    }
                }

            }
        }
    }
}
